.form {
	display: flex;
	width: 100%;
	align-items: center;
	position: relative;
	margin-bottom: 24px;
	box-shadow: 3px 5px rgba(0, 0, 0, 0.082);
}

.form::before {
	content: var(--circle);
	width: 24px;
	height: 24px;
	position: absolute;
	left: 24px;
}

.form input {
	font-size: 18px;
	background-color: var(--container-background);
	color: var(--input-text-color);
	width: 100%;
	padding: 23px 72px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.form input:focus {
	border: none;
	outline: none;
}

@media (max-width: 600px) {
	.form {
		width: 327px;
	}
}
